.gdsr-title {
	background-color: #2683AE;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.gdsr-table-split-edit {
	border-top: 2px solid lightBlue; 
	width: 100%; 
	margin-top: 3px; 
	padding-top: 3px;
}

.gdsr-section-title {
    margin: 1px 0;
    padding: 3px;
    background-color: #CEE1EF;
    font-size: 12px;
}

.gdsr-review-block {}
.gdsr-review-table { border: 0; }
.gdsr-review-table tr.mtrow { background-color: white; }
.gdsr-review-table tr.mtrow.alternate { background-color: white; }

