#dashboard-widgets {
	padding-top: 0px;
}

div.dashboard-widget-holder {
	float: left;
	margin-top: 20px;
	width: 49%;
}

div.dashboard-widget {
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	margin-top: 10px;
	overflow: auto;
	padding: 2px;
	position: relative;
}

div.dashboard-left {
	margin-right: 15px;
}

div.dashboard-widget-holder.full {
	width: 100%;
}

h3.dashboard-widget-title {
	font-size: 14px;
	line-height: 2;
	margin: 0;
	padding: 0 7px;
}

h3.dashboard-widget-title span {
	display: block;
	float: left;
	text-align: left;
}

h3.dashboard-widget-title small a {
	color: #2583AD;
}

h3.dashboard-widget-title small {
	display: block;
	float: right;
	font-size: 75%;
	line-height: 2.67;
	text-align: right;
	color: #2583AD;
}

div.dashboard-widget-content {
	padding: 10px 15px;
}