/* top rating widget */
.trw-rating {
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
}

/* rating stars */
.ratingblock td { vertical-align: middle; }

.raterclear { clear: both; }

.raterleft { float: left; }

.raterright { float: right; }

.voted {color: #999;}
.thanks {color: #36AA3D;}
.static {color: #5D3126;}
.rater { top: 0; }

.ratingblock {
	display: block;
	padding-bottom: 4px;
	margin-bottom: 4px;
	margin-top: 8px;
}

.ratingtext {
	padding-bottom: 4px;
	margin-bottom: 4px;
	margin-top: 8px;
}

/* table class: starrating */
.starrating { width: 100%; }

.starrating thead {
	background-color: #696969;
	color: yellow;
}

.starrating thead td { font-weight: bold; }

.starrating td {
	padding: 2px 5px 2px 5px;
	height: 24px;
	vertical-align: middle;
}

.starrating tr.even { background-color: #fffff0; }

.starrating tr.odd { background-color: #f0f8ff; }

.starrating tbody td.rating {
	text-align: right;
	color: red;
	font-weight: bold;
	width: 40px;
}

.starrating tbody td.votes {
	text-align: right;
	font-weight: bold;
	width: 30px;
}

/* table class: starsimple */
.starsimple { width: 100%; }

.starsimple thead {
	background-color: gray;
	color: yellow;
}

.starsimple thead td { font-weight: bold; }

.starsimple td {
	padding: 2px 5px 2px 5px;
	height: 24px;
	vertical-align: middle;
}

.starsimple tr.even { }

.starsimple tr.odd { }

.starsimple tbody td.rating {
	text-align: right;
	color: red;
	font-weight: bold;
	width: 40px;
}

.starsimple tbody td.votes {
	text-align: right;
	font-weight: bold;
	width: 30px;
}
